---
layout: default
title: Home
permalink: /
---

<!-- Banner -->
<header class="banner big">
  <div class="container">
    <div class="row">
      <div class="tiny-12">
        <div class="lead-wrapper">
          <h1 class="lead">Tristan White</h1>
          <h2 class="sublead">Designer, Developer & Somewhat Unicorn-like</h2>
          <a href="#about" class="button light big">Learn more</a>
          <a href="#contact" class="button dark big">Contact me</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="tiny-12">
        <img src="/assets/img/tw.gif" class="tw-avatar" alt="Tristan White Avatar">
        <h2>About me</h2>
        <p class="about-text">
          Hi! My name is <strong>Tristan White</strong>, I'm a designer, developer and somewhat unicorn-like.
          I was born and raised in a small town in Denmark.
          Today I am proud to call myself a <strong>full-stack web developer</strong>.<br>
          I love making beautiful, yet practical websites and applications and I would enjoy the
          opportunity to collaborate on your next project, so drop me an <a href="mailto:oliver.tristan@gmail.com">email</a> or a tweet and lets get to work!
        </p>
        <hr>
        <h2>Featured video</h2><br>
        <div class="row">
          <div class="tiny-10 tiny-offset-1">
            <div class="responsive-video">
               <iframe src="https://www.youtube.com/embed/YWVXTt7MmQ0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Work Section -->
<section id="work">
  <div class="container">
    <div class="row">
      <div class="tiny-12">
        <h2>Recent projects</h2>
      </div>
    </div>

    <div class="row">
      <div class="tiny-12 small-6 medium-4 large-4">
        <div class="case-container">
          <div class="overlay">
            <h2 class="title">Colodrop.io</h2>
            <p class="description">
              A color matching tool, that lets you save you favourite color combinations.
            </p>
            <a href="/cases/colordrop/" class="button">View case</a>
          </div>
          <img src="/assets/img/work/work-5-thumb.png" alt="Colordrop.io Banner">
        </div>
      </div>
      <div class="tiny-12 small-6 medium-4 large-4">
        <div class="case-container">
          <div class="overlay">
            <h3 class="title">Gridder.io</h3>
            <p class="description">
              A documentation site outlining usecases for gridder.css - a flexbox grid.
            </p>
            <a href="/cases/gridder/" class="button">View case</a>
          </div>
          <img src="/assets/img/work/work-4-thumb.png" alt="Gridder.io banner">
        </div>
      </div>
       <div class="tiny-12 small-6 medium-4 large-4">
         <div class="case-container">
           <div class="overlay">
             <h3 class="title">Compression Bear</h3>
             <p class="description">
               Compress your images by up to 90% with a bear
             </p>
             <a href="https://compressionbear.com/" target="_blank" class="button">View case</a>
           </div>
           <img src="/assets/img/work/compressionbear_thumb.png" alt="compression bear banner">
         </div>
       </div>
    </div>

    <div class="row">
      <div class="tiny-8 tiny-offset-2">
        <div class="carousel">
          <div class="carousel-nav-wrap cf">
            <h3>What people say</h3>
            <div class="carousel-nav">
              <svg alt="left arrow" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000">
                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
                <path d="M0-.5h24v24H0z" fill="none"></path>
              </svg>
              <svg alt="right arrow" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000">
                <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
                <path d="M0-.25h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
          <div class="carousel-wrap">
            <div class="carousel-unit is-current">
              <div class="avatar">
                <img src="/assets/img/work/heidi_ryghseter.png" alt="Heidi Ryghseter avatar">
              </div>
              <div class="testimonial">
                <p>"I have had the pleasure of working with Tristan on the development of my website.
                  Tristan is very hardworking and has been adept at finding the right technical solutions that fit me and my needs."</p><br>
                <cite>- Heidi Ryghseter</cite>
              </div>
            </div>
            <div class="carousel-unit">
              <div class="avatar">
                <img src="/assets/img/work/kurt_mikkelsen.png" alt="Kurt Mikkelsen avatar">
              </div>
              <div class="testimonial">
                <p>"I have been extremely pleased with Tristan's work.
                  He has been able to translate my thoughts and ideas into concrete and simple solutions.
                  Solutions I have been extremely pleased with, both in terms of functionality and layout."</p><br>
                <cite>- Kurt Mikkelsen</cite>
              </div>
            </div>
            <div class="carousel-unit">
              <div class="avatar">
                <img src="/assets/img/work/henriette_knak.png" alt="Henriette Knak avatar">
              </div>
              <div class="testimonial">
                <p>"Tristan is proffesionel. He has lots of good ideas and initiatives, that have only improved my website.
                  I have been extremely satisfied and cannot recommend Tristan's work enough"</p><br>
                <cite>— Henriette Knak</cite>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content (videos & articles) -->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="tiny-12 small-6 medium-7 large-7">
        <h2>New Articles</h2>
        {% for post in site.categories.articles limit:3 %}
        <article>
           <div class="title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
           </div>
           <div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
           <div class="excerpt">{{ post.excerpt }}</div>
        </article>
        {% endfor %}
        <a href="{{ site.baseurl }}/articles/" class="button">Read more...</a>
      </div>
      <div class="tiny-12 small-6 medium-4 large-4 medium-offset-1 large-offset-1">
        <h2>New Videos</h2>
        {% for post in site.categories.videos limit:3 %}
        <a class="video-link" href="{{ post.url | prepend: site.baseurl }}">
           <img src="{{ site.baseurl }}/{{ post.thumbnail }}" alt="{{ post.title }}">
           <span class="playtime">{{ post.time }}</span>
        </a>
        {% endfor %}
        <a href="{{ site.baseurl }}/videos/" class="button">View more...</a>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="tiny-12">
        <a href="mailto:oliver.tristan@gmail.com?Subject=Hello%20Tristan">oliver.tristan@gmail.com</a>
      </div>
    </div>
  </div>
</section>
