#articles {
  background-color: $light-text-color;
  h1 {
    font-size: 2rem;
    @media(max-width: 768px) {
      text-align: center;
      margin: 70px 0 -20px 0;
    }
  }
  article {
    padding: 50px 0;
    border-bottom: 1px dashed darken($light-text-color, 20%);
    h2 {
      font-size: 2rem;
      margin-top: 0;
    }
    .date {
      font-size: 0.9rem;
      color: darken($light-text-color, 20%);
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }
    .excerpt {

    }
  }
}
