section#about {
  padding: 100px 0;
  text-align: center;
  background-color: $light-text-color;
  background-image: url('/assets/img/square_bg.png');
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  h2 {
    font-weight: 100;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 2.3rem;
    }
  }
  p.about-text {
    font-size: 20px;
    line-height: 37px;
    color: lighten($dark-text-color, 20%);
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .card {
    margin-top: 50px;
    @media (max-width: 768px) {
      margin-top: 10px;
      &:first-child {
        margin-top: 25px;
      }
    }
    .button {
      margin: 0 5px;
      @media (max-width: 360px) {
        margin: 10px 0;
      }
      @media (max-width: 1200px) {
        margin: 10px 0;
      }
    }
  }
}


section#work {
  background-color: $light-background-color;
  background-image: url('/assets/img/work/client_logos_bg.png');
  background-repeat: repeat;
  padding: 100px 0;
  text-align: center;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  h2 {
    font-weight: 100;
    margin: 0 0 50px 0;
    @media (max-width: 768px) {
      font-size: 2.3rem;
    }
  }
  .work-item {
    padding: 0;
    margin: 5px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    @media (max-width: 768px) {
      margin: 15px 5px;
    }
    &:hover {
      img {
        box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        transform: translate(0px, -10px);
      }
      .overlay {
        visibility: visible;
        opacity: 1;
        transform: translate(0px, -10px);
      }
    }
    img {
      transition: all ease-in-out 300ms;
      max-width: 100%;
      border-radius: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    }
    .overlay {
      background: rgba($link-color, 0.95);
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      transition: all ease-in-out 400ms;
      z-index: 2;
      border-radius: 5px;
      p {
        margin: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $light-text-color;
        border: 2px solid $light-text-color;
        padding: 10px;
      }
    }
  }
}


section#content {
  background: $light-text-color;
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  h2 {
    text-align: center;
    font-weight: 100;
    margin: 0;
    margin-bottom: 50px;
  }
  .tiny-12:first-child {
    @media(max-width: 768px) {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid darken($light-text-color, 20%);
    }
  }
  .video-link {
    display: block;
    margin: 25px auto;
    background: $light-text-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    position: relative;
    transition: all ease-in-out 200ms;
    border-radius: 5px;
    &:hover {
      transform: scale(1.05);
      text-decoration: none;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    &.shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      @keyframes shake {
      10%, 90% {transform: translate3d(-1px, 0, 0);}
      20%, 80% {transform: translate3d(2px, 0, 0);}
      30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
      40%, 60% {transform: translate3d(4px, 0, 0);}
      }
    }
    img {
      max-width: 100%;
      width: 100%;
    }
    span.playtime {
      background: rgba(0,0,0,0.4);
      padding: 10px 15px;
      color: $light-text-color;
      text-decoration: none;
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
  article {
    margin: 0 0 50px 0;
    .post-link {
      position: relative;
      &.external:before {
        content: '';
        position: absolute;
        left: -25px;
        top: 0;
        background-image: url('/assets/img/link.svg');
        background-repeat: no-repeat;
        height: 26px;
        width: 26px;
      }
      h3 {
        margin: 0 0 15px 0;
      }
    }
    .date {
      color: darken($light-text-color, 20%);
    }
    .excerpt {

    }
  }
  .button {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 150px;
  }
}


section#contact {
  background-color: $link-color;
  background-image: url('/assets/img/square_bg.png');
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  h2 {
    margin: 0 0 20px 0;
    color: $light-text-color;
    font-weight: 100;
  }

  span.bg-img {
    z-index: 1;
    position: absolute;
    right: 0;
    top: -150px;
    @media (max-width: 768px) {
      right: -100px;
    }
    svg {
      height: 600px;
      width: auto;
      path {
        fill: darken($link-color, 7%);
      }
    }
  }
}
