section#about {
  padding: 100px 0;
  text-align: center;
  background-color: $light-text-color;
  background-image: url('/assets/img/bg-pattern.png');
  img.tw-avatar {
    width: 200px;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  h2 {
    font-weight: 100;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 2.3rem;
    }
  }
  p.about-text {
    font-size: 20px;
    line-height: 37px;
    color: lighten($dark-text-color, 20%);
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .card {
    margin-top: 50px;
    @media (max-width: 768px) {
      margin-top: 10px;
      &:first-child {
        margin-top: 25px;
      }
    }
    .button {
      margin: 0 5px;
      @media (max-width: 360px) {
        margin: 10px 0;
      }
      @media (max-width: 1200px) {
        margin: 10px 0;
      }
    }
  }
}


section#work {
  background-color: $link-color;
  //background-image: url('/assets/img/work/client_logos_bg.png');
  background-image: url('/assets/img/tw_logo_transparent.svg');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center center;
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  h2 {
    font-weight: 100;
    color: $light-text-color;
    margin: 0 0 50px 0;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 2.3rem;
    }
  }
  .case-container {
    position: relative;
    margin-bottom: 40px;
    &:hover {
      .overlay {
        visibility: visible;
        opacity: 1;
      }
    }
    .overlay {
      background: rgba($dark-text-color, 0.9);
      height: calc(100% - 4px);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      transition: all 300ms ease-in-out;
      padding: 20px;
      border-radius: 5px;
      .button {
        display: inline-block;
        @media(max-width: 350px) {
          padding: 0.5rem 1rem;
        }
      }
      .title {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0;
        margin: 0;
        color: $light-text-color;
        font-weight: 100;
      }
      .description {
        color: $light-text-color;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        @media(max-width: 1200px) {
          margin: .5rem 0;
          font-size: 1rem;
        }
        @media(max-width: 768px) {
          margin: 1.5rem 0;
          font-size: 1rem;
        }
        @media(max-width: 350px) {
          margin: .5rem 0;
          font-size: 1rem;
        }
      }
    }
    img {
      max-width: 100%;
      border-radius: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    }
  }
}


section#content {
  background-color: $light-text-color;
  background-image: url('/assets/img/bg-pattern.png');
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  h2 {
    text-align: center;
    font-weight: 100;
    margin: 0;
    margin-bottom: 50px;
  }
  .tiny-12:first-child {
    @media(max-width: 768px) {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid darken($light-text-color, 20%);
    }
  }
  .video-link {
    display: block;
    margin: 25px auto;
    background: $light-text-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    position: relative;
    transition: all ease-in-out 200ms;
    border-radius: 5px;
    &:hover {
      transform: scale(1.05);
      text-decoration: none;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    &.shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      @keyframes shake {
      10%, 90% {transform: translate3d(-1px, 0, 0);}
      20%, 80% {transform: translate3d(2px, 0, 0);}
      30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
      40%, 60% {transform: translate3d(4px, 0, 0);}
      }
    }
    img {
      max-width: 100%;
      width: 100%;
    }
    span.playtime {
      background: rgba(0,0,0,0.4);
      padding: 10px 15px;
      color: $light-text-color;
      text-decoration: none;
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
  article {
    margin: 0 0 50px 0;
    .post-link {
      position: relative;
      &.external:before {
        content: '';
        position: absolute;
        left: -25px;
        top: 0;
        background-image: url('/assets/img/link.svg');
        background-repeat: no-repeat;
        height: 26px;
        width: 26px;
      }
      h3 {
        margin: 0 0 15px 0;
      }
    }
    .date {
      color: darken($light-text-color, 25%);
      font-weight: bold;
    }
    .excerpt {

    }
  }
  .button {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 150px;
  }
}


section#contact {
  background: $link-color;
  text-align: justify;
  a {
    text-align: center;
    background: $link-color;
    display: block;
    padding: 200px 0;
    font-size: 70px;
    @media(max-width: 62rem) {
      font-size: 50px;
    }
    @media(max-width: 42rem) {
      font-size: 24px;
      padding: 100px 0;
    }
    color: $light-text-color;
    &:hover {
      text-decoration: none;
      background: radial-gradient(400px at center center , darken($link-color, 20%) 0%, $link-color 100%);
      @media(max-width: 62rem) {
        background: radial-gradient(300px at center center , darken($link-color, 20%) 0%, $link-color 100%);
      }
      @media(max-width: 42rem) {
        background: radial-gradient(180px at center center , darken($link-color, 20%) 0%, $link-color 100%);
      }
    }
  }
}
