#videos {
  background: $light-text-color;
  h2 {
    font-size: 2rem;
    margin-bottom: 50px;
    @media(max-width: 768px) {
      text-align: center;
      margin-top: 75px;
    }
  }

  .video-link {
    display: block;
    margin: 25px auto;
    background: $light-text-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    position: relative;
    transition: all ease-in-out 200ms;
    border-radius: 5px;
    &:first-child {
      margin-top: 0;
    }
    &:hover {
      transform: scale(1.05);
      text-decoration: none;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    img {
      max-width: 100%;
      width: 100%;
    }
    span.playtime {
      background: rgba(0,0,0,0.4);
      padding: 10px 15px;
      color: $light-text-color;
      text-decoration: none;
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }

}
