.banner {
  background-color: $link-color;
  height: 150px;
  max-width: 100%;
  width: 100vw;
  max-width: 100vw !important;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  overflow: hidden;
  position: relative;
  h1 {
    color: $light-text-color;
    font-size: 2rem;
    line-height: 150px;
    margin: 0;
    @media(max-width: 768px) {
      line-height: 75px;
      text-align: center;
    }
  }
  @media(max-width: 768px) {
    margin-top: 50px;
    height: 75px;
  }
  .content {
    .lead {
      margin: 0;
      font-size: 3rem;
      color: $light-text-color;
      font-weight: 100;
      line-height: 150px;
      position: relative;
      z-index: 2;
    }
    span.bg-img {
      display: inline-block;
      position: absolute;
      right: 0;
      top: -25px;
      svg {
        height: 200px;
        width: auto;
        path {
          fill: darken($link-color, 7%);
        }
      }
    }
  }

  &.big {
    height: 400px;
    width: 100%;
    @media (max-width: 768px) {
       text-align: center;
    }
    .content {
      .lead {
        font-size: 5rem;
        @media (max-width: 768px) {
           font-size: 3.15rem;
           text-align: center;
           line-height: 4.5rem;
           margin: 25px 0;
        }
        @media (max-width: 350px) {
          font-size: 2.7rem;
          line-height: 3.5rem;
        }
      }
      .sublead {
        margin: 0;
        font-size: 3rem;
        line-height: 3.5rem;
        color: $light-text-color;
        font-weight: 100;
        position: relative;
        z-index: 2;
        @media (max-width: 768px) {
           font-size: 2rem;
           text-align: center;
           line-height: 3.5rem;
           margin: 25px 0;
        }
        @media (max-width: 350px) {
          font-size: 1.8rem;
          line-height: 2.5rem;
        }
      }
      span.bg-img {
        svg {
          height: 500px;
          width: auto;
        }
      }
    }
    button, .button {
      margin: 25px 25px 0 0;
      z-index: 2;
      @media (max-width: 768px) {
         font-size: 1rem;
         margin: 5px;
      }
      @media (max-width: 350px) {
        padding: 15px 20px;
      }
    }
  }

}
