button, .button {
  background: $link-color;
  color: $light-text-color;
  display: inline-block;
  cursor: pointer;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 100ms ease-in-out;
  position: relative;
  box-shadow: 2px 2px 3px darken($link-color, 10%);
  &:hover {
    background: lighten($link-color, 5%);
    text-decoration: none;
  }
  &:active {
    background: darken($link-color, 5%);
  }
  &.light {
    background: $light-background-color;
    color: $dark-text-color;
    box-shadow: 2px 2px 3px darken($light-background-color, 10%);
    &:hover {
      background: darken($light-background-color, 5%);
    }
    &:active {
      background: lighten($light-background-color, 5%);
    }
  }
  &.dark {
    background: $dark-text-color;
    box-shadow: 2px 2px 3px darken($dark-text-color, 10%);
    &:hover {
      background: lighten($dark-text-color, 5%);
    }
    &:active {
      background: darken($dark-text-color, 5%);
    }
  }
  &.big {
    font-size: 1.35rem;
    padding: 20px 35px;
  }
}
