button, .button {
  background: $link-color;
  color: $light-text-color;
  display: inline-block;
  cursor: pointer;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 100ms ease-in-out;
  position: relative;
  box-shadow: 2px 2px 3px darken($link-color, 10%);
  &:hover {
    background: lighten($link-color, 5%);
    text-decoration: none;
  }
  &:active {
    background: darken($link-color, 5%);
  }
  &.light {
    background: $light-background-color;
    color: $dark-text-color;
    box-shadow: 2px 2px 3px darken($light-background-color, 10%);
    &:hover {
      background: darken($light-background-color, 5%);
    }
    &:active {
      background: lighten($light-background-color, 5%);
    }
  }
  &.dark {
    background: $dark-text-color;
    box-shadow: 2px 2px 3px darken($dark-text-color, 10%);
    &:hover {
      background: lighten($dark-text-color, 5%);
    }
    &:active {
      background: darken($dark-text-color, 5%);
    }
  }
  &.big {
    font-size: 1.35rem;
    padding: 20px 35px;
  }
  &.sendbutton {
    background: darken($link-color, 10%);
    color: $light-text-color;
    border: 0;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    transition: background 100ms ease-in-out;
    @media(max-width: 768px) {
      width: 100%;
    }
    &:hover {
      background: darken($link-color, 12%);
    }
    &:active {
      background: darken($link-color, 15%);
    }
    &:focus {
      outline: none;
    }
    &.sent {
      transition: all 1s ease-in-out;
    }
    &.error {
      background: #C0392D;
    }
    .loading {
      display: inline-block;
      margin: -2px 2px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      border: 3px solid $light-text-color;
      border-top-color: transparent;
      animation: spin 800ms infinite linear;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}
